body {
}

#app-container {
    width: 600px;
    background-color: #aaa;
    border: solid black 1px;
    margin: auto;
    padding: 5px;
}

.team-name-column {
  text-align: left;
}

.win {
  background-color: #7a8e5e;
}

.loss {
  background-color: #98464f;
}

.tie {
  background-color: #ae9250;
}

.unplayed {
  background-color: #999999
}